version: '3.5'
services:
    dados-db:
        container_name: dados-db
        restart: always
        image: mongo
        ports:
            - 5431:5432
        env_file: dev-env
        networks:
            - dados-network
        volumes:
            - dados-mg-data:/var/lib/mongo/data

    dados-api:
        container_name: dados-api
        restart: always
        build:
            context: .
            dockerfile: Dockerfile
        env_file: dev-env
        ports:
            - 3000:3000
        networks:
          - dados-network
        volumes:
            - .:/dados-network
            - pip_cache:/usr/local/lib/python3.10/site-packages
        depends_on:
            - dados-db

volumes:
    dados-mg-data: {}
    pip_cache:

networks:
  dados-network:
    external: true
